### Sklearn ning tayyor Logistic Regression classi bilan malumotlarni training qildirib ko'rdim. Natija 85% accuracy ga chiqdi. 

*`neaural network bilan qilgan modelim esa 93% accuracy chiqgan`*

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
from google.colab import files
uploaded = files.upload()

Saving churn.csv to churn.csv

In [3]:
df = pd.read_csv("churn.csv")
df.head()

  State  Account Length  Area Code  ... Intl Charge  CustServ Calls  Churn?
0    KS             128        415  ...        2.70               1   False
1    OH             107        415  ...        3.70               1   False
2    NJ             137        415  ...        3.29               0   False
3    OH              84        408  ...        1.78               2   False
4    OK              75        415  ...        2.73               3   False

[5 rows x 21 columns]

### Bu yerda ustunlardagi qiymatlarni barchasini raqamga aylantiramiz

In [4]:
for column in df.columns:
  if df[column].dtype == np.number: 
    continue
  else:
    df[column] = LabelEncoder().fit_transform(df[column])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.

In [5]:
df.head()

   State  Account Length  Area Code  ...  Intl Charge  CustServ Calls  Churn?
0     16             126          1  ...         2.70               1       0
1     35             105          1  ...         3.70               1       0
2     31             135          1  ...         3.29               0       0
3     35              82          0  ...         1.78               2       0
4     36              73          1  ...         2.73               3       0

[5 rows x 21 columns]

In [6]:
X = df.drop("Churn?", axis=1) # Feature
y = df["Churn?"]


X = StandardScaler().fit_transform(X)

In [7]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
x_train

array([[ 1.21034697e+00,  2.82932850e+00,  1.40851395e+00, ...,
         6.17898340e-01, -1.30640087e+00,  3.32354453e-01],
       [ 9.40490364e-01,  1.76712231e-01, -8.45700361e-04, ...,
        -1.94830613e-01, -2.19539646e+00,  1.85292740e+00],
       [ 1.14288282e+00, -6.56967169e-01, -8.45700361e-04, ...,
         1.83699177e+00, -5.50091180e-01, -4.27932021e-01],
       ...,
       [ 7.38097907e-01, -8.84334279e-01, -1.41020535e+00, ...,
         2.11533863e-01, -3.77599497e-01, -4.27932021e-01],
       [-1.01597006e+00,  1.71775597e+00, -8.45700361e-04, ...,
         6.17898340e-01, -1.25496268e-01,  3.32354453e-01],
       [ 9.40490364e-01, -1.64222464e+00, -1.41020535e+00, ...,
         6.17898340e-01, -5.89896952e-01,  3.32354453e-01]])

In [16]:
model = LogisticRegression()

model.fit(x_train, y_train)

LogisticRegression()

In [17]:
predictions = model.predict(x_test)
print(predictions)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0]

### Logistic Regression bilan 85% accuracy gacha chiqdi

In [18]:

print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.87      0.98      0.92       566
           1       0.54      0.15      0.23       101

    accuracy                           0.85       667
   macro avg       0.70      0.56      0.58       667
weighted avg       0.82      0.85      0.81       667